/* RESET */
*,
::after,
::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
.App{
    font-family: 'Noto Sans','sans-serif';
    display: block;
    justify-content: center;
    overflow: hidden;

}
::-webkit-scrollbar{
    display: none;
    width: 0;
}
#name,#price,#view{
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    color: #069;
  }
.view{
    text-align: center;
}
.displayList{
    text-align: center;
}
.btn-add{
    background-color: #0058AB;
    border: none;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;

    width: 60%;
    outline: none;
    font-size: .875rem;

    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;

    text-shadow: none;
}

