.App{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25px 40px 1fr;
    gap: 5px;
    margin: 30px;
}
.logo{
    grid-column: 2/3;
    justify-self: self-start;
    height: 40px;
    width: 100px;
}