
.InputLst {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr ;
    gap: 5px 5px;
    align-items:center;
    text-align: center;
    font-family: Noto Sans,sans-serif;
}

.InputLst_header {
    grid-column: 2/3;
    justify-self: center;
    text-align: center;
    font-size: 15px;
}

.InputLst_form{
    grid-column: 2/3;
    grid-row: 2/2;
   display: block;
    text-align: center;
}
.form_btn{
    height: 40px;
    width: 100px;
    background-color: #0058ab;
    color: #fff;
    border-radius: 50px;
    border: none;
    }

#itemName{
    box-sizing: border-box;
    border: 2px solid #000;
    display: block;
    height:25px;
    width:200px;

}
#itemPrice{
    box-sizing: border-box;
    border: 2px solid #000;
    display: block;
    height:26px;
    width:200px;
}
.error{
    text-align: left;
    font-size: 0.8rem;
    color:red;

}

.lbl_itm{

    text-align: left;
    font-size: 20px;
    display: block;
}
@media screen and (min-width:700px){
    .InputLst{
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 300px;
        gap: 10px;
        position: relative;
        padding-right: 3px;
        padding-left: 3px;
        font-size: 15px;
        text-align: center;
        justify-content: center;
    }

    .InputLst_form{
        grid-column: 2/3;
        grid-row: 2/2;
        display: grid;
        text-align: center;
        justify-content: center;

    }
    .lbl_itm{
        font-size: 20px;
        display: block;
        text-align: left;
    }
    .error{
        text-align: left;
    }
    #itemName{
        box-sizing: border-box;
        border: 2px solid black;
        display: block;

        height:30px;
        width:300px;

    }
    #itemPrice{
        box-sizing: border-box;
        border: 2px solid black;
        display: block;
        height:30px;
        width:300px;
    }
}
